 <div class="jumbotron">
  <div class="bg-overlay">
    <div class="wrapper">
      <h1>Banana  Tree</h1>
      <h2 class="marginTop">Leveraging the community to house the homeless</h2>
      <h3 class="campaign">Help us reach today's goal</h3>
      <!-- Trigger the modal with a button -->
      <div class ="butt">
        <button type="button" class="btn btn-success btn-outline btn-xlarge" target="#">
        DONATE NOW
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="landingbox">
          <h2 class="headerOne">Tonight, XXX people will be looking for:</h2>
              <ul class="list">
                <li>a clean room</li>
                <li>a warm bed</li>
                <li>a hot shower</li>
                <li>a flushable toilet</li>
                <li>safety</li>
                <li>hope</li>
              </ul>
          </div>
      </div>
      <div class="row purple">
      <h3>About Us</h3>


    <p>BananaTree is based on the simple idea that shelter is a fundamental human right.</p>

    <p>Shelter was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders to help a person's morale and make it easier for them to find work and permanent housing.</p>

    <p>Shelter is an open source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>

</div>
</div>