<div class="jumbotron">
  <div class="bg-overlay">
    <div class="wrapper">
      <h1 class="havenly">Haven.ly</h1>
      <h3 class="campaign">Help us reach today's goal</h3>
      <!-- Trigger the modal with a button -->
      <div class ="butt">
        <button type="button" class="btn btn-success btn-outline btn-xlarge" target="#">
          DONATE NOW
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="landingbox">
    <h2 class="headerOne">Leveraging the community to house the homeless</h2>
    <h2 class="headerOne">Tonight,<strong>XXX</strong> people will be looking for:</h2>
  </div>
  <ul class="nav nav-footer marginLeftOne ">
    <li><a href="#" class="listLanding">a clean room</a></li>
    <li><a href="#" class="listLanding">a warm bed</a></li>
    <li><a href="#" class="listLanding">a hot shower</a></li>
  </ul>
  <ul class="nav nav-footer marginLeft">
    <li><a href="#" class="listLanding">a flushable toilet</a></li>
    <li><a href="#" class="listLanding">safety</a></li>
    <li><a href="#" class="listLanding">hope</a></li>
  </ul>
      <div class="row">
        <div class="col-xs-6 aboutus">
          <div class="row purple">
            <h3 class="aboutUs">About Us</h3>
            <br >
            <p>Haven.ly is based on the simple idea that shelter is a fundamental human right.</p>
            <br >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <p class="bottomtext">BananaTree is an open-source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>
</div>
<div class="col-xs-6">
  <h3>About the app</h3>
  <p class="bottomtext">Built with:</p>
  <ul>
    <li>Ruby on Rails</li>
    <li>jQuery</li>
    <li>Bootstrap</li>
    <li>Devise</li>
  </ul>
  <p class="bottomtext">APIs used:</p>
  <ul>
    <li><a href="https://www.simplify.com/commerce/" target="_blank">Simplify Commerce</a></li>
    <li><a href="https://dev.twitter.com/oauth" target="_blank">Twitter OAuth</a></li>
    <li><a href="https://dev.twitter.com/twitter-kit/ios-reference/digits" target="_blank">Twitter Digits</a></li>
  </ul>
</div>

      </div>
    </div>
  </div>
</div>
<p>Shelter was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders to help a person's morale and make it easier for them to find work and permanent housing.</p>
<br >

<p>Shelter is an open source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>
</div>
</div>
