 <div class="jumbotron">
  <div class="bg-overlay">
    <div class="wrapper">
      <h1>BananaTree</h1>
      <h2>Leveraging the community to house the homeless</h2>
      <h3 class="campaign">Help us reach today's goal</h3>
      <!-- Trigger the modal with a button -->

      <div class ="butt">
        <button type="button" class="btn btn-success btn-outline btn-xlarge" target="#">
          Donate now
        </button>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 offset-1">

          <p class="looking">Tonight, people will be looking for:
              <ul class="list bottomtext">
                <li>a clean room</li>
                <li>a warm bed</li>
                <li>a hot shower</li>
                <li>a flushable toilet</li>
                <li>safety</li>
                <li>hope</li>
              </ul>
          </p>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 aboutus">
          <h3>About Us</h3>
          <p class="bottomtext">BananaTree is based on the simple idea that shelter is a fundamental human right.</p>

  <!-- Modal -->
<!--   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
 -->
      <!-- Modal content-->
<!--       <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How it works</h4>
        </div>
        <div class="modal-body">
          According to the most recent statistics available, around 6500 homeless people live on the streets of San Francsico. Many of these people make an effort
=======
          <p class="bottomtext">BananaTree was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders for people's morale and make it easier for them to find sustainable work and permanent housing.</p>

          <p class="bottomtext">BananaTree is an open-source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>
>>>>>>> 50b8b582d222717cf070e597f67f9de7b9ab289f
        </div>
      </div>
      </div>
      </div>
<<<<<<< HEAD

    </div>
  </div>
 -->
        <div class="digits">
          <button class="digits-button">Sign In with Phone</button>
          <p class="digits-note">This is a demo of <a href="http://get.digits.com/">Digits login for web</a>
        </div>
        <p class="looking">Tonight, XXX people will be looking for:
            <ul class="list">
              <li>a clean room</li>
              <li>a warm bed</li>
              <li>a hot shower</li>
              <li>a flushable toilet</li>
              <li>safety</li>
              <li>hope</li>
            </ul>
        </p>

  <div class="col-xs-4">
    <p>About Us<p>
    <p>BananaTree is based on the simple idea that shelter is a fundamental human right.</p>

    Shelter was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders to help a person's morale and make it easier for them to find work and permanent housing.

    Shelter is an open source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.
  </div>
<div class="col-xs-4">
    <p>About Us<p>
    <p>BananaTree is based on the simple idea that shelter is a fundamental human right.</p>

    Shelter was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders to help a person's morale and make it easier for them to find work and permanent housing.

    Shelter is an open source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.
  </div>


</div>
