<p>Home#index</p>
<p>Find me in app/views/home/index.html.erb</p>


<!-- <header class="intro">
  <div class="intro-body">
 -->
 <div class="jumbotron">
  <h1>BananaTree</h1>
  <h2>Leveraging the community to house the homeless</h2>
  <h3 class="campaign">Today's campaign</h3>
  
</div>

<!--   </div>
</header>
 -->

<div class="col-md-6 col-md-offset-3">
  
<p>XXX people are looking for:</p>

<ul>
  <li>a clean room</li>
  <li>a warm bed</li>
  <li>a hot shower</li>
  <li>a flushable toilet</li>
  <li>a hope for a better tomorrow</li>
</ul>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  How it works
</button>

</div>