
<!-- <header class="intro">
  <div class="intro-body">
 -->
 <div class="jumbotron">
  <div class="bg-overlay">
    <h1>BananaTree</h1>
    <h2>Leveraging the community to house the homeless</h2>
    <h3 class="campaign">Help us reach today's goal</h3>
    <!-- Trigger the modal with a button -->

    <div class ="butt">
      <button type="button" class="btn btn-info btn-lg" target="#">
        Donate now
      </button>
    </div>
  </div>
</div>

<!--   </div>
</header>
 -->




<div class="col-xs-6 col-xs-offset-3">
  <!-- Modal -->
<!--   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
 -->
      <!-- Modal content-->
<!--       <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How it works</h4>
        </div>
        <div class="modal-body">
          According to the most recent statistics available, around 6500 homeless people live on the streets of San Francsico. Many of these people make an effort
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
 -->
        <p class="looking">Tonight, XXX people will be looking for:
            <ul class="list">
              <li>a clean room</li>
              <li>a warm bed</li>
              <li>a hot shower</li>
              <li>a flushable toilet</li>
              <li>safety</li>
              <li>hope</li>
            </ul>
        </p>

  <div class="col-xs-6 aboutus">
    <h3>About Us</h3>
    <p class="bottomtext">BananaTree is based on the simple idea that shelter is a fundamental human right.</p>

    <p class="bottomtext">BananaTree was created by alumni of General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders for people's morale and make it easier for them to find sustainable work and permanent housing.</p>

    <p class="bottomtext">BananaTree is an open-source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>
  </div>
  <div class="col-xs-6">
    <h3>About the app</h3>
    <p class="bottomtext">Built with:</p>
      <ul>
        <li>Ruby on Rails</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>Devise</li>
      </ul>
    <p class="bottomtext">APIs used:</p>
    <ul>
      <li><a href="https://www.simplify.com/commerce/" target="_blank">Simplify Commerce</a></li>
      <li><a href="https://dev.twitter.com/oauth" target="_blank">Twitter OAuth</a></li>
      <li><a href="https://dev.twitter.com/twitter-kit/ios-reference/digits" target="_blank">Twitter Digits</a></li>
    </ul>
  </div>


</div>
