<div class="container-fluid">
  <div class="team">
    <div class="row">
    <h1>The Team</h1>
    <ul class="theTeam">
      <li>
        <div class="teamImage">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAIEAAAAJGFiYjJhYWIzLWVjYjMtNDY1MS1hYjRmLTU5MzEwMzM4NTU0ZQ.jpg" alt="Vikash" class="theTeam-img">
        </div>
        <h2>Vikash</h2>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/vikashparekh"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHH3L7/linkedin.png" alt="linkedin"></div></a><a href="https://github.com/vikashiscool"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHAPT6/github.png"></div></a>
        </div>
      </li>
      <li>
        <div class="teamImage">
          <img src="http://andrewpatzsch.com/img/andrew.jpg" alt="Andrew" class="theTeam-img">
        </div>
        <h2>Andrew</h2>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/andrewpatzsch"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHH3L7/linkedin.png" alt="linkedin"></div></a><a href="https://github.com/mrpatzsch"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHAPT6/github.png"></div></a>
        </div>
      </li>
      <li>
        <div class="teamImage">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAMGAAAAJDY3N2E3N2Q2LTdhNWEtNDc3My05NDlkLWQxMjlkNzg5MDhjNA.jpg" alt="Christine" class="theTeam-img">
        </div>
        <h2>Christine</h2>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/chylau"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHH3L7/linkedin.png" alt="linkedin"></div></a><a href="https://github.com/chylaudes"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHAPT6/github.png"></div></a>
        </div>
      </li>
      <li>
        <div class="teamImage">
          <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAMhAAAAJDU3YTAzNTRiLWMxNDMtNDEzNS04MzFhLTNiY2Q2NmNmY2Q1YQ.jpg" alt="Daimeon" class="theTeam-img">
        </div>
        <h2>Daimeon</h2>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/daimeonpilcher"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHH3L7/linkedin.png" alt="linkedin"></div></a><a href="https://github.com/daimeonpilcher"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHAPT6/github.png"></div></a>
        </div>
      </li>
      <li>
        <div class="teamImage">
          <img src="http://www.danielgih.com/images/profile.jpg" alt="Daniel" class="theTeam-img">
        </div>
          <h2>Daniel</h2>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/danlyg"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHH3L7/linkedin.png" alt="linkedin"></div></a><a href="https://github.com/danlyg"><div><img src="https://files.slack.com/files-pri/T03RNRDA9-F09FHAPT6/github.png"></div></a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</div>