/*
 #dfdff0
 #bfc2d9
 #75a3ba
 #71868a
 #f7d669
 #fce7bd
*/

.campaign-info {
	margin: 10px auto;
	max-width: 800px;
	text-align: center;
	background-color: #dfdff0;
	padding: 50px;
	-moz-box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	box-shadow: 0 0 10px #aaa;
	border-radius: 5px;
}

.progress {
	max-width: 90%;
	margin: 0 auto;
}

.btn-donate {
	margin: 20px 0;
	height: 50px;
	font-size: 32px;
}

.modal-content {
	padding: 50px;
	display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#buy-with-masterpass-div {
	text-align: center;
	margin: 20px 0;
}

.paymentForm {
	width: 400px;
	margin: 0 auto;
}

.progress {
	height: 50px;
}

.progress-bar {
	font-size: 24px;
	line-height: 48px;
}

.campaignCity {
	color: #337ab7;
}