// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.profile{
  width: 220px;
}

h5{
  display: block;
}
h6{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 100;
  margin-left: 5px;
}
p{
  letter-spacing: 0.06em;
  font-weight: 100;
  color: #887CB0;
}
h3.profileName{
  text-transform: uppercase;
  letter-spacing: 0.06em;
  display: block;
  text-align: center;
}
h3.profileLocation{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 200;
  display: block;
  text-align: center;
}
h3.donationHistory{
  text-transform: uppercase;
  color: #887CB0;
  letter-spacing: 0.06em;
  font-weight: 100;
  margin-left: 5px;
  display: block;
  float: left;
}
span.crop{
  display: inline-block;
  position: relative;
  width: 208px;
  height: 208px;
  border-radius: 100px;
  overflow: hidden;
}

div#countdown{

}
.space{
  margin-left: 10px;
}
div.box{
  height:100px;
  background-color: #261758;
  padding-top: 10px;
}

div.boxOne{
  height:100px;
  background-color: #261758;
}
div.boxTwo{
  background-color: #605292;
  height:100px;
}
#twitter{
  width: 30px;
  margin-left: 48%;
}


@media(max-width: 505px) {
  img.profile{
  width: 220px;
}

h3.profileName{
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-left: 5px;
}
.profileLocation{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 50px;
}
span.crop{
  display: inline-block;
  position: relative;
  width: 208px;
  height: 208px;
  border-radius: 100px;
  overflow: hidden;
}

div#countdown{

}

div.boxOne{
  height:100px;
  background-color: #E8313A;
}
div.boxTwo{
  background-color: #E85A61;
  height:100px;
}
}