 <footer class="footer">

			<ul class="nav nav-footer">
					<li><a href="#"><img src="" alt="brand"></a>
					<li><a href="#">Haven.ly </a></li>
					<li><a href="#">CONTACT</a></li>
					<li><a href="#">ABOUT US</a></li>
					<li><a href="#">WHY DONATE?</a></li>
					<li><a href="#">TEAM</a></li>
			</ul>
</footer>

</div>