 <footer class="footer">
	<div class="container">
			<ul class="nav navbar-default nav-footer">
					<li><a href="/campaigns">DONATE</a></li>
					<li><a href="#">TEAM</a></li>
			</ul>
		</div>
	</div>
</footer>